.hexagon {
    cursor: pointer;
    position: absolute;
    width: 100px; /* hexagon size */
    line-height: 64px;
    text-align: center;

    /* define hexagon shape */
    aspect-ratio: 1 / cos(30deg);
    clip-path: polygon(50% -50%, 100% 50%, 50% 150%, 0 50%);

    /* accounts for the fact that we have the shape's center coordinates, but are using top and left positions */
    transform: translate(-50%, -50%);
}
.hexagon:hover {
    /* TODO: use styled-components so we don't need !important */
    background: #efefef !important;
}

.corner {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    clip-path: circle(10px);
    background-color: black;

    /* accounts for the fact that we have the shape's center coordinates, but are using top and left positions */
    transform: translate(-50%, -50%);
}

.corner:hover {
    /* TODO: use styled-components so we don't need !important */
    background: #efefef !important;
}

.edge {
    cursor: pointer;
    position: absolute;
    height: 5px; /* line thickness */

    background-color: #b57112;
    border: 1px solid black;

    /* accounts for the fact that we have the shape's center coordinates, but are using top and left positions */
    transform: translate(-50%, -50%);
}

.edge:hover {
    /* TODO: use styled-components so we don't need !important */
    background: #efefef !important;
}
